<%= link_to '‹', new_temperatures_path, class: 'back-arrow' %>

<h2 class="result"><%= convert_temperatures @celsius, @kelvin %></h2>

<div class="explanation">
  <h3 class="flush">How’d we get this?</h3>
  <%= temperature_conversion_explanation @celsius, @kelvin %>
</div>
