<%= link_to '‹', root_path, class: 'back-arrow' %>

<main>
  <%= form_tag controller: 'atoms', action: 'create', method: 'post' do %>
    <label class="field">
      atoms
      <input type="number" name="atoms" class="field__input--text">
    </label>

    <label class=field>
      moles
      <input type="number" name="moles" class="field__input--text">
    </label>

    <button type="submit" class="button">Convert</button>
  <% end %>
</main>
