<ul class="list--ruled-actions flush">
  <li class="list__item"><%= link_to 'Temperature', new_temperatures_path, class: 'list__action' %></li>
  <li class="list__item"><%= link_to 'Atoms', new_atoms_path, class: 'list__action' %></li>
</ul>
